@use '../variables/_font_style_mixins' as fonts;  

html :where(.wp-block) {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    @include fonts.font-styles;
    @include fonts.font-sizes;
} 