.SliderGallery{
    transition: 500ms;
    .splide__arrow--prev{
        left: 2em
    }
    .splide__arrow--next{
        right: 2em
    }
    .splide__slide{
        transition: 500ms;
        img {
            max-height: 500px;
            width: auto !important;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }

}